

@page-background: #111111 url(images/awesomebg3.jpg)  no-repeat center top fixed;


@primary-background: #650909;
@alt-primary-background: #8D030E;

@header-background: #1C1C1C;
@header-sub-background: #262626;
@footer-background: #353535;

@chain-map-background: #2d2d2d;


@box-button-background: #494242;


@primary-font-color: #fff;