@chain-map-background: #0C3266;

body
{
	background: #051121  url(images/nyan_bg.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center; 
}


#chain-map-inner
{
	background: url(images/nyan2sub.png) repeat-x;
}

#chain-map
{
	background: url(images/nyan2.jpg) no-repeat;
}

.map-system-blob
{
	background: url(images/nyan-blob-bg.png);
	border: 3px solid #F9D194;
}