

@page-background: #111111 url(public/images/bg.jpg) repeat-x;


@primary-background: #092665;
@alt-primary-background: #00279A;

@header-background: #1C1C1C;
@header-sub-background: #262626;
@footer-background: #353535;

@chain-map-background: #2d2d2d;


@box-button-background: #494242;