.siggy-main-navbar  {
    background: #252525;
	padding-top:0px;
}

.siggy-main-navbar li a {
    color: #999;
    text-decoration: none;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
	padding:10px;
}