* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body
{
	background: @page-background;
	font-family: Arial;
	font-size:13px;
	color: white;
}


.siggy-input
{
	background-color: #fff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #000;
}

.placeholder
{
	color: #aaa;
}

.siggy-input[type=text],
.siggy-input[type=password],
.siggy-input
{
    height: 20px;
    width: 100%;
}

select.siggy-input
{
    height: 22px;
    min-width:70px;
}

.input-group
{
    float:left;
    display:inline-block;
    width:50px;
    margin-right:10px;
}

.wrapper
{
	padding: 70px 20px 0 20px;
}

.center-text
{
	text-align:center;
}

.text-left
{
    text-align:left;
}

.bordered-wrap
{
    border: 3px solid #090909;
}

.clear
{
  clear:both;
}

table.siggy-table th,
div.header{
	background: @header-background;
	border: 1px solid #000000;
	color: #DADADA;
	font-weight: bold;
	padding: 3px;
	text-align: center;
}

table.siggy-table td
{
	border-bottom: 1px solid #000;
	padding:4px;
}

table.siggy-table-striped tr:nth-child(odd) {
	background-color: @alt-primary-background;
}

#system-name
{
    font-weight:bold;
}

td.name,
td.pad{
	padding-left:5px;
}

td.smallLeft{
	font-size:0.9em;
}

p.desc {
	font-size:0.8em;
	font-style:italic;
    font-weight: normal;
}

table.siggy-table{
	width:100%;
	background: @primary-background;
	color: #FFFFFF;
}

table td.title {
	width: 6%;
	padding:6px;
	font-weight: bold;
}

table td.content {
	width:39%;
	padding-left: 6px;
}

#hub-jumps div
{
    float:left;
    margin-right:10px;
}

#system-options td.content {
	padding: 5px;
	width:15%;
}

#system-options td.content label input
{
	margin-left:4px;
	margin-right:4px;
}

table td.desc p{
	font-size: 0.85em;
	font-style: italic;
}




td.desc input
{
    margin-top:4px;
}


td.moreinfo
{
	border-left:0 !important;
}

td.desc
{
	border-right:0 !important;
}


td.sig input
{
    width:50px;
}



/*sig add*/
#sig-add-box {
	min-width: 280px;
	display: inline-block;
	width: 100%;
}



#sig-add-box form {
	display: inline-block;
}

#mass-add-sig-box
{
    display:none;
    width:300px;
}

#mass-add-sigs
{
    margin-right: 12px;
    float:left;
}

/*header*/

#top-bar {
	width: 100%;
	height:32px;
	padding: 7px 0 7px 0;
	background: @header-background;
	color: white;
	position:relative;
}

#top-bar > div
{
	margin-left:7px;
}

#top-bar > div > div.dropdown
{
    background: @primary-background;
    color: @primary-color;
    font-weight:bold;
    padding:4px;
    font-size: 12px;
}

#top-bar > div > div.dropdown > a
{
    color: @primary-font-color;
}

#top-bar p.name {
	left: 83px;
	position: absolute;
	top: 8px;
	font-weight:bold;
}

#floating-header
{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 999;
}

a {
	text-decoration: none;
	color: #FF7F00;
}

#update-time
{
	position: absolute;
	right: 12px;
	top: 7px;
	text-align:right;
}


.tab
{
    display:none;
}



.selected
{
  background-color: #FF8308 !important;
  cursor: auto !important;
}



table td.button-row
{
  text-align:center;
  background: @footer-background;
}

/* Header tool buttons */

#header-tools
{
  clear:both;
  background-color: @header-sub-background;
  min-height: 20px;
}

#header-tools-button-bar
{
	text-align:center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#header-tools-button-bar > li
{
    display: inline-block;
    min-width: 30px;
    padding-left:5px;
    padding-right: 5px;
    line-height: 200%;
    background-color: @box-button-background;
    cursor: pointer;
}

#header-tools-button-bar > li a
{
	color: inherit;
}


/*gnotes*/

#global-notes p
{
  font-size:0.8em;
}





label.yes{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background-color: #21600C;
    padding: 4px;
    padding-left:8px;
    width: auto;
}

label.no {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background-color: #A70000;
    padding: 4px;
    padding-right:8px;
    width: auto;
}


/*sub display groups*/
.sub-display-group div.sub-display-group-header
{
    background: @header-background;
    padding:6px;
    padding-left:10px;
    font-weight: bold;
    text-align:left;
}

.sub-display-group div.sub-display-group-header.hover:hover
{
	background-color: #A27C2B;
	cursor:pointer;
}

.sub-display-group
{
    background-color: @primary-background;
	border-bottom:1px dashed #9C9C9C;
}

.sub-display-group > div
{
    padding: 10px;
}

#sig-add-box div.sub-display-group-header
{
	line-height: 22px;
	vertical-align:top;
}

/* Alignment css for "Signature Adder" text and the mass add input box */
#sig-add-box div.sub-display-group-header span
{
}

#sig-add-box div.sub-display-group-header textarea
{
	width: 400px;
	margin-left:10px;
	height:18px;
	overflow:hidden;
	resize: none;
	vertical-align: top;
}

/*stats */

#system-stats
{
    text-align:center;
}

.system-stats-graph
{
	display:inline-block;
}

.system-stats-graph h4
{
}

.system-stats-graph > div
{
	width:250px;
	height:160px;
}

.system-stats-legend-box
{
	border: 1px solid #fff;
	width:16px;
	height:10px;
	display:inline-block;
}

.system-stats-legend-siggy
{
	background-color:#AFD8F8;
}

.system-stats-legend-api
{
	background-color:#EDC240;
}

/* end stats*/


#bear-class-links a.active
{
	font-weight:bold;
	color: #FFF;
}

#carebear-box h3
{
	font-weight:bold;
}


/* siggy Menu "generic" css */
.drop-up,
.drop-down {
	height: 92%;
	padding:0 15px 0 15px;
	vertical-align: middle;
	background-color: @primary-background;
	font-weight: bold;
}

.drop-up span,
.drop-down span
{
	vertical-align:middle;
    font-size:0.9em;
    font-style:italic;
    font-weight: normal;
    padding:3px 6px;
    background-color: @primary-background;
}

.drop-up ul,
.drop-down ul
{
	display:none;
	background: @primary-background;
	border: 1px solid #000;

	position:absolute;
	top: 0;
	left: 0;

	z-index: 99999;
}

.drop-up ul li,
.drop-down ul li
{
	padding: 6px;
	width: 150px;
	border-bottom: 1px solid #000;
	font-size: 0.9em;
}

.drop-up ul li:hover,
.drop-down ul li:hover
{
	background: @alt-primary-background;
}

.drop-up:hover,
.drop-down:hover
{
	background-color: #FF8308;
	cursor: pointer;
}

/* accessMenu specific sexiness */

.opened
{
	background-color: #AB5907 !important;
}

ul.errors
{
	background-color: #910E0E;
	padding: 4px;
	list-style: disc inside none;
	display: none;
}



.click-me
{
	cursor:pointer;
}



input:focus,
select:focus,
textarea:focus
{
	outline:#FF8308 solid 2px;
}

.evekill
{
	margin-right:4px;
}


.hub-jump
{
	cursor:pointer;
	border-bottom: 1px dashed #999;
}

#sigs
{
    background-color: @primary-background;
}

#system-advanced
{
    background: @header-background;
    padding-left:  10px;
    font-weight: bold;
}

#system-advanced div
{
    float:left;
    vertical-align:middle;
}

ul.option-bar,
ul.box-tabs
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}


ul.box-tabs
{
	text-align: left;
}

ul.option-bar a,
ul.box-tabs a
{
    color: #fff;
    display:block;
    width: 100%;
	font-weight:bold;
}

ul.option-bar li,
ul.box-tabs li
{
    display:inline-block;
    min-width:60px;
    line-height: 200%;
    background-color: @box-button-background;
    text-align: center;
    cursor:pointer;
	padding-right: 5px;
	padding-left: 5px;
}

ul.option-bar li.active
{
    background-color: @primary-background;
}

ul.box-tabs li.active
{
    background-color: @primary-background;
}

/* "modal" box */

.tooltip
{
  display: none;
  background-color: #262626;
  color: #fff;
}


.form-actions
{
    background-color: @footer-background;
    margin: -5px;
    margin-top: 10px;
    padding:5px;
}

.box
{
    background-color: @primary-background;
    padding: 0px;
    margin: 0 auto;
    border: 3px solid #090909;
    width: 300px;
}

.box h2
{
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.box > div
{
    padding: 5px;
}

.box h3
{
	font-weight: bold;
	font-size: 1.1em;
	background: @header-background;
	padding: 5px;
}

.box p
{
	margin: 4px 0 4px 0;
}


.box fieldset
{
    background-color: #335191;
    padding: 10px;
}

.box fieldset label
{
  float:left;
  display: block;
  width:200px;
  margin: 5px 0 0;
}

.box legend
{
  font-weight:bold;
}

ul.box-simple-list li
{
	border-bottom:1px solid #FEA800;
	padding:4px;
	font-size: 1em;
	background-color: #121212;
}

ul.box-simple-list
{
	border: 1px solid #000;
}

.faux-link
{
	font-weight:bold;
	color: #FEA800;
	cursor:pointer;
}

.box-load-progress
{
	text-align: center;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	margin-top: 10px;
}

.box-load-progress img
{
	vertical-align: middle;
	margin-right: 9px;
}

.box-load-progress span
{
	display: inline-block;
	font-weight: bold;
}

.box-tabbed,
.box-tab
{
	padding:0 !important;
}

.box-tabs
{
	background-color: #1f1f1f;
}

.box-tabs div
{
	display: inline-block;
	background-color: #0E0E0E;
	padding:5px;
	margin:0;
	font-size:1.1em;
	font-weight:bold;
}

.box-tabs div:hover
{
	background-color: #AB5907;
}

.site-icon
{
	position:relative;
	top: 3px;
}


div.connection-editor-group
{
	margin-bottom:5px;
}

div.connection-editor-group > div
{
	padding:10px;
}


/* Form group stuff */

.form-group {
	margin-bottom: 15px;
}
.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
}

.form-group label
{
	font-weight:bold;
}

.form-group label.yes,
.form-group label.no
{
	font-weight:normal;
}

/* tablesorter styling */

.tablesorter-headerAsc {
	background-image: url(public/images/asc.gif) !important;
	background-repeat: no-repeat  !important;
	background-position: right center  !important;
}
.tablesorter-headerDesc {
	background-image: url(public/images/desc.gif) !important;
	background-repeat: no-repeat  !important;
	background-position: right center  !important;
}

.siggy-navbar-brand {
	font-size: 17px;
	cursor:pointer;
}
.siggy-navbar-brand span.glyphicon
{
	font-size:12px;
}

#thera-exits-table tr th,
#thera-exits-table tr td
{
	padding: 6px;
}

.search-result {
	background-color: @primary-background;
	padding: 10px;
	margin-top:5px;
}

.search-result h3 {
	font-weight: bold;
	font-size: 14px;
}

.highlight {
	background-color: yellow;
	color: black;
}


.table-with-dropdowns .btn-hidden
{
	width: 100%;
}

#notification-count
{
	background-color: red;
	padding: 0px 3px 0px 3px;
	top: 29px;
	position: absolute;
	font-size: 12px;
	left: 28px;
}

.notification-dropdown-item
{
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #fff;
	white-space: nowrap;
}
.notification-dropdown-view-link
{
	text-align:center;
	font-style: italic;
}
