 /*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}body
{
	background: #111111 url(../../public/images/bg.jpg) repeat-x;
	font-family: Arial;
	font-size:13px;
	color: white;
}

input,
select,
textarea
{
	background-color: #fff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type=text],
input[type=password],
select
{
    height: 20px;
    width: 100%;
}

select
{
    height: 22px;
    min-width:70px;
}

.input-group
{
    float:left;
    display:inline-block;
    width:50px;
    margin-right:10px;
}

#wrapper
{
	padding: 0 20px 0 20px;
}


.center-text
{
	text-align:center;
}

.text-left
{
    text-align:left;
}

.bordered-wrap
{
    border: 3px solid #090909;
}

.clear
{
  clear:both;
}

table.siggy-table th,
h2.header{
	background-color: #1C1C1C;
	border: 1px solid #000000;
	color: #DADADA;
	font-weight: bold;
	padding: 3px;
	text-align: center;
}



table.siggy-table td,
#sigCalculator table td,
table.stats td {
	border-bottom: 1px solid #000;
	padding:4px;
}

table.siggy-table tr.alt {
	background-color: #00279A;
}

#system-name
{
    font-weight:bold;
}

td.name,
td.pad{
	padding-left:5px;
}

td.smallLeft{
	font-size:0.9em;
}

p.desc {
	font-size:0.8em;
	font-style:italic;
    font-weight: normal;
}

table.siggy-table{
	width:100%;
	background: #092665;
	color: #FFFFFF;
}

table td.title {
	width: 6%;
	padding:6px;
	font-weight: bold;
}

table td.content {
	width:39%;
	padding-left: 6px;
}

#hubJumps div
{
    float:left;
    margin-right:10px;
}

#system-options td.content {
	padding: 5px;
	width:15%;
}

#system-options td.content label input
{
	margin-left:4px;
	margin-right:4px;
}

table td.desc p{
	font-size: 0.85em;
	font-style: italic;
}


table.tablesorter thead tr .headerSortUp {
	background-image: url(../../public/images/asc.gif) !important;
	background-repeat: no-repeat;
	background-position: right center;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../../public/images/desc.gif) !important;
	background-repeat: no-repeat;
	background-position: right center;
}      


/*sig add*/
#sig-add-box {
	padding: 5px;
	min-width: 280px;
	display: inline-block;
    width: 100%;
}



#sig-add-box form {
	display: inline-block;
}

#mass-add-sig-box
{
    display:none;
    width:300px;
}

#mass-add-sigs
{
    margin-right: 12px;
    float:right;
}

/*header*/

#topBar {
	width: 100%;
	height:32px;
	padding: 7px 0 7px 0;
	background-color: #1C1C1C;
	color: white;
	position:relative;
}

#topBar > div
{
	margin-left:7px;
}

#topBar p.name {
	left: 83px;
	position: absolute;
	top: 8px;
	font-weight:bold;
}

#topBar div.centerBar
{
	width: 122px;
	margin: -29px auto 0;
	font-size: 0.8em;
}

#topBar div.centerBar button
{
	width: 122px;
	font-size: 1em;
	background: #fff;
	border: 1px solid #000;
}

#floatingHeader
{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 999;
}

a {
	text-decoration: none;
	color: #FF7F00;
}

#updateTime
{    
	position: absolute;
	right: 12px;
	top: 7px;
	text-align:right;
}

input.sigEdit
{
    width:50px;
}



.tab
{
    display:none;
}



.selected {
  background-color: #FF8308 !important;
  cursor: auto !important;
}



table td.button-row {
  text-align:center;
  background-color: #1C1C1C;
}

.header-tool-button
{
	display:inline-block;
    background-color: #3A3535;
    height: 15px;
    padding: 5px;
    text-align:center;
    cursor:pointer;
}


.header-tool-button a
{
	color: inherit;
}

#header-tools-button-bar
{
	text-align:center;
}

#header-tools
{
  clear:both;
  background-color: #262626;
  min-height: 20px;
  
}

/*gnotes*/
#global-notes {
  -moz-border-radius: 0 0 9px 9px;
  border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  padding: 10px;
  background-color: #092665;
  display:none;
}

#global-notes h2 {
  font-weight:bold;
  font-size:1.03em;
  margin-bottom:4px;
  border-bottom: 1px solid #fff;
  padding-bottom:3px;
}


#global-notes p
{
  font-size:0.8em;
}

.tooltip
{
  display: none;
  background-color: #262626;
  color: #fff;
}


.box h2
{
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.box
{
  background-color: #262626;
  padding: 5px;
  margin: 0 auto;
  border: 5px solid #1C1C1C;
}

.box h3
{
	font-weight: bold;
	font-size: 1.1em;
	background-color: #1C1C1C;
	padding: 5px;
}

.box p
{
	margin: 4px 0 4px 0;
}

fieldset
{
    background-color: #2D2D2D;
    padding: 10px;
}

fieldset label
{
  float:left;
  display: block;
  width:200px;
  margin: 5px 0 0;
}

fieldset legend
{
  font-weight:bold;
}


label.yes{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background-color: #21600C;
    padding: 4px;
    padding-left:8px;
    width: auto;
}

label.no {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background-color: #A70000;
    padding: 4px;
    padding-right:8px;
    width: auto;
}


td.desc input
{
    margin-top:4px;
}

#bear-class-links a.active{
	font-weight:bold;
	color: #FFF;
}

#carebear-box h2
{
    background-color: #1C1C1C;
    padding:6px;
    padding-left:10px;
    font-weight: bold;
}

#carebear-box
{
    background-color: #092665;
}

#carebear-box > div
{
    padding: 10px;
}


#carebear-box h3
{
    font-weight:bold;
}

td.moreinfo
{
	border-left:0 !important;
}

td.desc
{
	border-right:0 !important;
}





/* siggy Menu "generic" css */
.drop-up,
.drop-down {
	height: 92%;
	padding:0 15px 0 15px;
	vertical-align: middle;
	background-color: #092665;
	font-weight: bold;
}

.drop-up span,
.drop-down span
{
	vertical-align:middle;
}

.drop-up ul,
.drop-down ul
{
	display:none;
	background: #02143C;
	border: 1px solid #000;
	
	position:absolute;
	top: 0;
	left: 0;
	
	z-index: 99999;
}

.drop-up ul li,
.drop-down ul li
{
	padding: 6px;
	width: 150px;
	border-bottom: 1px solid #000;
	font-size: 0.9em;
}

.drop-up ul li:hover,
.drop-down ul li:hover
{
	background-color: #092665;
}

.drop-up:hover,
.drop-down:hover
{
	background-color: #FF8308;
	cursor: pointer;
}

/* accessMenu specific sexiness */
#accessMenu
{
	background: none;
	padding: 0;
	height: auto;
}

#accessMenu ul li
{
	padding: 3px;
	width: 200px;
}

.opened
{
	background-color: #AB5907 !important;
}

ul.errors
{
	background-color: #910E0E;
	padding: 4px;
	list-style: disc inside none;
	display: none;
}

/*stats */
#stats
{
	background-color: #2D2D2D;
	text-align:center;
}

#stats > div
{
	padding: 5px;
}


.click-me
{
	cursor:pointer;
}


.statColor
{
	border: 1px solid #fff;
	width:16px;
	height:10px;
	display:inline-block;
}

input:focus,
select:focus
{
	outline:#FF8308 solid 2px;
}

.evekill
{
	margin-right:4px;
}


.hub-jump
{
	cursor:pointer;
	border-bottom: 1px dashed #999;
}

/*****
whpopup tabs
*******/
#wormholeTabs
{
	background-color: #1f1f1f;
}

#wormholeTabs div
{
	display: inline-block;
	background-color: #0E0E0E;
	padding:5px;
	margin:0;
	font-size:1.1em;
	font-weight:bold;
}

#wormholeTabs div:hover
{
	background-color: #AB5907;
}

#wormholePopup div.tabcontent
{
	padding:5px;
}

ul.itemList li
{
	border-bottom:1px solid #FEA800;
	padding:4px;
	font-size: 0.75em;
	background-color: #121212;
}

ul.itemList
{
	border: 1px solid #000;
}

.icon-yellow
{
    color: #FFFF03;
}

.icon-red
{
    color: red;
}

#sigs
{
    background-color: #092665;
}

#system-advanced
{
    background-color: #1C1C1C;
    padding-left:  10px;
    font-weight: bold;
}

#system-advanced h2
{
    float:left;
    vertical-align:middle;
}

ul.option-bar
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

ul.option-bar a
{
    color: #fff;
    display:block;
    height: 100%;
    width: 100%;
}

ul.option-bar li
{
    display:inline-block;
    min-width:60px;
    line-height: 200%;
    background-color: #494242;
    text-align: center;
    cursor:pointer;
}

ul.option-bar li.active
{
    background-color: #092665;
}
/*button*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

/*icons*/
i
{
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 16px;
    height:16px;
    display:inline-block;
    line-height:200%;
    margin-top:2px;
    position:relative;
    top: 3px;
}

.icon-plus-sign
{
	background-image: url(../../public/images/icon_plus.png);
}

.icon-pencil
{
	background-image: url(../../public/images/icon_pencil.png);
}

.icon-info-sign
{
	background-image: url(../../public/images/icon_info.png);
}

.icon-remove-sign
{
	background-image: url(../../public/images/icon_remove.png);
}


/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 9998;
	border: solid 1px #CFCFCF;
	background: #fcfcfc;
	padding: 0px;
	margin: 0px;
	display: none;
	font-size:11px;
}

.contextMenu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu a {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 15px;
	height: 15px;
	background-position: 6px center;
	background-repeat: no-repeat;
	border-bottom:1px solid #CFCFCF;
	outline: none;
	padding: 1px 5px;
	padding-left: 10px;
	font-weight: bold;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.edit A { background-image: url(images/page_white_edit.png); }
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.delete A { background-image: url(images/page_white_delete.png); }
.contextMenu LI.quit A { background-image: url(images/door.png); }


/*

MAP */

#chain-map-container
{
}



#chain-map-container h2
{
	text-align:center;
    position:relative;
    padding: 5px;
    font-weight: bold;
    background-color: #1C1C1C;
}

#chain-map-container p.left
{
	display:inline-block;
	position:absolute;
	left:3px;'
}

#chain-map-inner
{
	background-color: #2d2d2d;
}


#chain-map-container p.editing,
#chain-map-container p.loading,
#chain-map-container p.deleting
{
	position:absolute;
	font-size:1.4em;
	display:none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}


#chain-map-container p.loading
{
	font-size:3em;
}

#chain-map-container div.buttons
{
	position:relative;
	text-align:center;
}

#chainMap
{
	width: 100%;
	height: 400px;
	position:relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.map-system-blob
{
	min-width: 70px;
	max-width: 140px;
	min-height:  30px;
	background-color: #fff;
	position:absolute;
	border: 3px solid #676767;
	color: #000;
	padding:1px;
	cursor: pointer;
	z-index: 24;
	border-radius: 8px;
	-webkit-border-radius:  8px;
	overflow:hidden;
	font-size: 11px;
}

.map-eol-overlay
{
    z-index:99999999;
    background-color:#262626;
    color: #fff;
    font-size:11px;
    padding: 1px;
    display:none;
}

.map-system-blob-selected
{
	-moz-box-shadow: 0px 0px 15px rgba(240, 240, 240,1);
	-webkit-box-shadow: 0px 0px 15px rgba(240, 240, 240,1);
	box-shadow: 0px 0px 15px rgba(240, 240, 240,1);
}

/*

.map-system-blob-selected:after
{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    border: 2px dotted #36F;
}*/

.map-system-blob-title
{
	font-weight:bold;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	border-bottom: 1px dotted #000;
}
.map-system-blob-sysname
{
	font-size:12px;
}

.map-system-blob-class
{
	margin-right:3px;
}
.map-system-blob-actives
{
	font-size:10px;
}

.map-activity-empty
{
	border: 3px solid #03B807;
}

.map-activity-active
{
	border: 3px solid #DE4444;
}

.map-activity-friendly
{
	border: 3px solid #0748D6;
}
.map-activity-occupied
{
	border: 3px solid #FFE205;
}

.map-class-unknown
{
	color: #2783D9;
}

.map-class-dangerous
{
	color: #FF9308;
}

.map-class-deadly
{
	color: #FF0D0D;
}

.map-class-high
{
	color: #259900;
}

.map-class-low
{
	color: #FF9308;	
}

.map-class-null
{
	color: #FF0D0D;	
}

.map-class-unknown,
.map-class-dangerous,
.map-class-deadly,
.map-class-high,
.map-class-low,
.map-class-null
{
	font-style:italic;
    margin-right: 2px;
}


.map-effect
{
	border-radius: 10px;
	-webkit-border-radius:  10px;
	height:8px;
	width: 8px;
	background: white;
	display: inline-block;
	margin-right: 2px;
	border: 1px solid #000;
}

.map-effect-blackhole
{
	background: black;
}

.map-effect-pulsar
{
	background: blue;
}

.map-effect-wolf-rayet
{
	background: orange;
}

.map-effect-magnetar
{
	background: pink;
}

.map-effect-catalysmic
{
	background: yellow;
}

.map-effect-red-giant
{
	background: red;
}

.map-actives-expanded
{
}

#map-footer-bar
{
	position:relative;
	height:28px;
	background-color: #1C1C1C;
    padding-left:10px;
    padding-top:6px;
}
#chainMapInner div.buttons
{
	background-color: #1C1C1C;
}

.map-tooltip
{
	color: #fff;
	background: #262626;
	padding:1px;
}

#chain-map-scrolltainer
{
	overflow-y: hidden;
	overflow-x: auto;
}

/* Let's get this party started */
#chain-map-scrolltainer::-webkit-scrollbar
{
	width: 12px;
}
 
/* Track */
#chain-map-scrolltainer::-webkit-scrollbar-track {
	
}
 
/* Handle */
#chain-map-scrolltainer::-webkit-scrollbar-thumb {
	background-color: #A46D00; 
}
#chain-map-scrolltainer::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

#chain-map-scrolltainer::-webkit-scrollbar-track-piece {
	background-color: #1C1C1C;
}
#chain-map-scrolltainer::-webkit-scrollbar-button {
    background-color: #664402;
}

.selection-box {
	position:    relative;
	border:     1px dotted #fff;
	background: #fff;
	opacity: 0.4;
}


#loading
{
    left: -28px;
    position: absolute;
    top: -4px;
}


/* CHAIN MAP */

#wormhole-popup,
#system-options-popup
{
	width:300px;
	display:none;
	padding:0px;
}

button.centered
{
	display:block;
	margin:0 auto;
}

input[name=from-sys],
input[name=to-sys]
{
    width:100px;
}
/*
 * qTip2 - Pretty powerful tooltips - v2.1.1
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Thu Jul 11 2013 02:03 GMT+0100+0100
 * Plugins: None
 * Styles: None
 */
.qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 280px;
	min-width: 50px;
	
	font-size: 10.5px;
	line-height: 12px;

	direction: ltr;

	box-shadow: none;
	padding: 0;
}

.qtip-content{
    position: relative;
    padding: 5px 9px;
    overflow: hidden;

    text-align: left;
    word-wrap: break-word;
}

.qtip-titlebar{
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;

    border-width: 0 0 1px;
    font-weight: bold;
}

.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

/* Default close button class */
.qtip-close{
    position: absolute;
    right: -9px; top: -9px;

    cursor: pointer;
    outline: medium none;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.qtip-titlebar .qtip-close
{
    right: 4px; top: 50%;
    margin-top: -9px;
}

* html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon
{
    display: block;
    text-indent: -1000em;
    direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.qtip-icon .ui-icon
{
    width: 18px;
    height: 14px;

    line-height: 14px;
    text-align: center;
    text-indent: 0;
    font: normal bold 10px/13px Tahoma,sans-serif;

    color: inherit;
    background: transparent none no-repeat -100em -100em;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}

/* Default tooltip style */
.qtip-default
{
	border-width: 1px;
	border-style: solid;
	border-color: #2d2d2d;

	background-color: #262626;
	color: #fff;
}

.qtip-default .qtip-titlebar
{
    background-color: #FFEF93;
}

.qtip-default .qtip-icon
{
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
}

.qtip-default .qtip-titlebar .qtip-close
{
    border-color: #AAA;
    color: #111;
}
/* AUTOCOMPLETE */

.acInput {
	width: 115px;
	background-color: #fff;
	z-index: 5000;
}
.acResults {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: #fff;
	overflow: hidden;
	color: #000;
	max-height: 100px;
	overflow-y: auto;
	overflow-x: none;
	z-index: 5000;
}

.acResults ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 5000;
}

.acResults li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
	z-index: 5000;
}

.acLoading {
	background: #fff url('indicator.gif') right center no-repeat;
}

.acSelect {
	background-color: Highlight;
	color: HighlightText;
}
