

@page-background: #111111 url(public/images/green_bg.jpg) no-repeat center top fixed;


@primary-background: #0D6509;
@alt-primary-background: #0C9A00;

@header-background: #0F2C04;
@header-sub-background: #262626;
@footer-background: #353535;

@chain-map-background: #2d2d2d;


@box-button-background: #494242;


@primary-font-color: #fff;