

@page-background: #DEA8E5 url(public/images/hello-kitty.jpg) no-repeat center top fixed;


@primary-background: #F0C2E3;
@alt-primary-background: #FFADE1;

@header-background: #7A0E4F;
@header-sub-background: #F0C2E3;

@chain-map-background: #F0C2E3;

@box-button-background: #C75CE2;